<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>about
        </title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <script>src='/js/app.js'</script> 
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <img class="logo" src="img/weather-forecast.png">
            <a href="https://www.flaticon.com/free-icons/weather" title="weather icons">Weather icons created by Eucalyp - Flaticon</a>
        </div>
        
        
        {{>footers}}
    </body>
</html>